<h1>Tabla de Cursos</h1>

<div class="row">
    <mat-form-field class="col-md-6">
        <mat-label>Filtrar por curso</mat-label>
        <input type="text" matInput (keyup)="filtrarCurso($event)">
    </mat-form-field>

    <mat-form-field class="col-md-6">
        <mat-label>Filtrar por comision</mat-label>
        <input type="text" matInput (keyup)="filtrarComision($event)">
    </mat-form-field>
</div>

<div class="row">
    <table mat-table [dataSource]="dataSource" class="col-md-12">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let curso">{{ curso.nombre | uppercase }}</td>
        </ng-container>

        <ng-container matColumnDef="comision">
            <th mat-header-cell *matHeaderCellDef>Comision</th>
            <td mat-cell *matCellDef="let curso">{{ curso.comision }}</td>
        </ng-container>

        <ng-container matColumnDef="profesor">
            <th mat-header-cell *matHeaderCellDef>Profesor</th>
            <td mat-cell *matCellDef="let curso">{{ curso.profesor }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef>Inicia</th>
            <td mat-cell *matCellDef="let curso">{{ curso.fechaInicio | date: 'dd/MM/YYYY' }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef>Termina</th>
            <td mat-cell *matCellDef="let curso">{{ curso.fechaFin | date: 'dd/MM/YYYY' }}</td>
        </ng-container>

        <ng-container matColumnDef="inscripcionAbierta">
            <th mat-header-cell *matHeaderCellDef>Inscripcion Abierta</th>
            <td mat-cell *matCellDef="let curso">
                <span [appBooleanoEstilo]="curso.inscripcionAbierta"> {{ curso.inscripcionAbierta | booleanATexto: 'Si': 'No' }} </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef>
                <button mat-icon-button (click)="editar()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>

    </table>

</div>

<hr>

<h1>Tabla de Alumnos</h1>

<div class="row2">
    <mat-form-field class="col-md-6">
        <mat-label>Filtrar por nombre</mat-label>
        <input type="text" matInput (keyup)="filtrarNombre($event)">
    </mat-form-field>

    <mat-form-field class="col-md-6">
        <mat-label>Filtrar por comision</mat-label>
        <input type="text" matInput (keyup)="filtrarComision2($event)">
    </mat-form-field>
</div>

<div class="row2">
    <table mat-table [dataSource]="dataSource2" class="col-md-12">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let alumno">{{ alumno.nombre | uppercase }}</td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef>Apellido</th>
            <td mat-cell *matCellDef="let alumno">{{ alumno.apellido }}</td>
        </ng-container>

        <ng-container matColumnDef="comision">
            <th mat-header-cell *matHeaderCellDef>Comision</th>
            <td mat-cell *matCellDef="let alumno">{{ alumno.comision }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones2">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef>
                <button mat-icon-button (click)="editar2()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas2"></tr>
        <tr mat-row *matRowDef="let row2; columns: columnas2"></tr>

    </table>

</div>